# Entorno virtual
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
django_api.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Modelos grandes (opcional)
*.h5
*.pkl
*.pth
*.tflite
*.model

# Configuración local
.env
*.env
.env.local
local_settings.py

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db